<section id="containerUsersSelected" [ngClass]="{'active':relationUser !== undefined}">
  <article *ngIf="relationUser == undefined">
    <span class="no-user">Sin usuario seleccionado</span>
  </article>
  <article *ngIf="relationUser !== undefined">
    <header class="container-header">
      <span class="float-left">@{{relationUser.userFriend.user}}</span>
      <span class="float-right text-right" *ngIf="relationSatus=='FRIEND'">{{relationUser.userFriend.score}}
        puntos</span>
      <div class="container-img">
        <img class="img-thumbnail" [src]="relationUser.userFriend|userImage" alt="Avatar"/>
      </div>
    </header>
    <section class="row p-2">
      <span class="col-12 name pt-4 pt-md-0">{{relationUser.userFriend.name}} {{relationUser.userFriend.surname}}</span>
      <span class="col-6" *ngIf="relationSatus=='FRIEND'">
        <img src="assets/icon-fecha-nacimiento.svg"
             alt=""><br>Fecha de nacimiento:<br>{{relationUser.userFriend.birthDate|dateFormat}}
      </span>
      <span class="col-6" *ngIf="relationSatus=='FRIEND'">
        <img src="assets/icon-calendar-plus.svg"
             alt=""><br>Usuario desde:<br>{{relationUser.userFriend.startDate|dateFormat}}
      </span>
      <div class="col-12">
        <span class="t-center" *ngIf="relationSatus=='PENDING'">Petición enviada</span>
        <span *ngIf="relationSatus=='PENDING_TO_ME'">Petición recibida</span>
        <span *ngIf="relationSatus=='NO_FRIEND'">Desconocido</span>
        <br>
        <button
          *ngIf="relationSatus=='PENDING_TO_ME'"
          type="button" class="btn btn-success mr-4 mt-1" (click)="acceptRelation()">
          <span aria-hidden="true">Aceptar</span>
        </button>
        <button
          *ngIf="relationSatus!='NO_FRIEND'"
          type="button"
          class="btn btn-danger mt-1" (click)="deleteRelation()">
          <span aria-hidden="true">Borrar</span>
        </button>
        <br>
        <button
          *ngIf="relationSatus=='NO_FRIEND'"
          type="button" class="btn btn-dark mt-2" (click)="createRelation()">
          <span aria-hidden="true">Agregar</span>
        </button>
      </div>
    </section>
  </article>
</section>
<section id="containerUsersNotSelected" *ngIf="relationUser == undefined">
  <img src="assets/hand-left.svg"/>
</section>
