<section class="container-fluid">
  <div class="container pt-3 pb-3">
    <div class="text-right">
      <div class="row">
        <div class="col-12 col-sm-6 text-center text-sm-left">
          Alejandro Tejada Rodríguez<br>
          Jorge Jaén Ferrer<br>
          Red Social Beca EOI
        </div>
        <div class="col-12 col-sm-5 p-0 text-center text-sm-right pt-2 pt-sm-0">
          <span id="ft-name">DeveD</span><br>
          <span>De Devs para Devs</span>
        </div>
        <div class="col-12 col-sm-1 text-center text-sm-right">
          <img src="assets/logo.png">
        </div>
      </div>
    </div>
  </div>
</section>
